h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --white-color-text: #ffffff;
  --black-color-text: #000000;
  --dark-green-color: #01383a;
  --light-green-color: #86e543;
  --grey-color: #8d9289;
  --light-grey-color: #cdcdcd;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 18px;
  padding-left: 17px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}

.header-btn {
  background-color: var(--light-green-color);
  border: none;
  min-width: 95px;
  height: 40px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.03em;
  color: var(--black-color-text);
  transition: box-shadow var(--transit-duration) var(--transit-timing);
}
.header-btn:hover, .header-btn:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1280px) {
  .header-btn {
    min-width: 102px;
    height: 46px;
    line-height: 1;
  }
}

.big-gn-btn {
  border: none;
  min-width: 173px;
  height: 51px;
  background-color: var(--light-green-color);
  text-transform: uppercase;
  color: var(--dark-green-color);
  transition: box-shadow var(--transit-duration) var(--transit-timing);
}
.big-gn-btn:hover, .big-gn-btn:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
  .big-gn-btn {
    min-width: 306px;
    height: 70px;
    font-size: 32px;
  }
}

.view-btn {
  background-color: var(--white-color-text);
  border: none;
  min-width: 153px;
  height: 51px;
  color: var(--dark-green-color);
  transition: box-shadow var(--transit-duration) var(--transit-timing);
}
.view-btn:hover, .view-btn:focus {
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
}
@media screen and (min-width: 768px) {
  .view-btn {
    min-width: 195px;
    height: 65px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.filter-btn {
  min-width: 124px;
  height: 35px;
  border: 1px solid var(--light-green-color);
  background-color: transparent;
  color: var(--light-green-color);
  transition: filter var(--transit-duration) var(--transit-timing);
  transition: box-shadow, background-color, color var(--transit-duration) var(--transit-timing);
}
.filter-btn:hover, .filter-btn:focus {
  filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
}
.filter-btn:active {
  background-color: var(--light-green-color);
  color: var(--dark-green-color);
  box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1), 0px 4px 20px rgba(134, 229, 67, 0.4);
}
@media screen and (min-width: 768px) {
  .filter-btn {
    min-width: 132px;
    height: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .filter-btn {
    min-width: 168px;
  }
}

.addcard-btn {
  min-width: 173px;
  height: 51px;
  background-color: transparent;
  border: 1px solid var(--light-green-color);
  text-transform: uppercase;
  color: var(--light-green-color);
  transition: filter var(--transit-duration) var(--transit-timing);
}
.addcard-btn:hover, .addcard-btn:focus {
  filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
}
@media screen and (min-width: 768px) {
  .addcard-btn {
    min-width: 306px;
    height: 70px;
    font-size: 32px;
  }
}

.send-btn {
  min-width: 173px;
  height: 51px;
  background-color: transparent;
  border: 1px solid var(--white-color-text);
  text-transform: uppercase;
  color: var(--white-color-text);
  transition: filter var(--transit-duration) var(--transit-timing);
}
.send-btn:hover, .send-btn:focus {
  filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
}
@media screen and (min-width: 768px) {
  .send-btn {
    min-width: 306px;
    height: 70px;
    font-size: 32px;
  }
}

.take-order {
  background-color: #01383A;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-top: 40px;
  padding-bottom: 48px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .take-order {
    max-width: 768px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .take-order {
    max-width: 1280px;
  }
}

.take-order__title {
  position: relative;
  color: var(--white-color-text);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .take-order__title {
    font-size: 56px;
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title {
    margin-bottom: 75px;
  }
}

.take-order__title::before {
  content: "";
  position: absolute;
  left: -17px;
  right: -18px;
  bottom: -35px;
  top: 25px;
  height: 20px;
  background-image: url(../src/images/icons/icon-line-mobile-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .take-order__title::before {
    left: -40px;
    right: -40px;
    top: 55px;
    bottom: -35px;
    height: 40px;
    background-image: url(../src/images/icons/icon-line-tablet-1.png);
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title::before {
    background-image: url(../src/images/icons/icon-line-desktop-1.png);
    right: -41px;
  }
}

.take-order__title::after {
  content: "";
  position: absolute;
  left: -17px;
  right: -18px;
  bottom: -43px;
  top: 30px;
  height: 20px;
  background-image: url(../src/images/icons/icon-line-mobile-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .take-order__title::after {
    left: -40px;
    right: -40px;
    bottom: -35px;
    top: 63px;
    height: 40px;
    background-image: url(../src/images/icons/icon-line-tablet-2.png);
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title::after {
    right: -41px;
    background-image: url(../src/images/icons/icon-line-desktop-2.png);
  }
}

.take-order__name {
  color: var(--white-color-text);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .take-order__name {
    font-size: 55px;
    line-height: 1.17;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__name {
    font-size: 56px;
    line-height: 1.16;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .take-order__name--first {
    display: none;
  }
}

.take-order__name--second {
  display: none;
}
@media screen and (min-width: 1280px) {
  .take-order__name--second {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .take-order__image--big {
    width: 387px;
  }
}

@media screen and (min-width: 768px) {
  .take-order__image {
    width: 154px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__image {
    width: 155px;
  }
}

@media screen and (min-width: 768px) {
  .take-order-nameprice {
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-nameprice {
    gap: 121px;
    margin-bottom: 48px;
    align-items: stretch;
  }
}

.take-order__price {
  display: flex;
  height: 72px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .take-order__price {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }
}

.take-order__left {
  display: flex;
  flex-direction: column;
}

.take-order__price-old {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-decoration: line-through;
}
@media screen and (min-width: 1280px) {
  .take-order__price-old {
    margin-right: 40px;
  }
}

.take-order__price-new {
  color: var(--light-green-color);
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .take-order__price-new {
    margin-top: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__price-new {
    margin-top: 0px;
  }
}

.take-order__small-foto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .take-order__small-foto {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__small-foto {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .take-order__small-foto--two {
    display: none;
  }
}

.take-order__small-foto--one {
  display: none;
}
@media screen and (min-width: 1280px) {
  .take-order__small-foto--one {
    display: flex;
  }
}

.take-order__contacts {
  margin-bottom: 24px;
}

@media screen and (min-width: 1280px) {
  .take-order__contacts--desktop {
    display: flex;
    gap: 20px;
  }
}

.take-order__contacts--title {
  color: var(--light-green-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .take-order__contacts--title {
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.take-order__input {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-green-color);
}

.take-order__input::-moz-placeholder {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.take-order__input:-ms-input-placeholder {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.take-order__input::placeholder {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.take-order__field:hover .take-order__input::-moz-placeholder, .take-order__field:focus .take-order__input::-moz-placeholder {
  color: var(--light-green-color);
}

.take-order__field:hover .take-order__input:-ms-input-placeholder, .take-order__field:focus .take-order__input:-ms-input-placeholder {
  color: var(--light-green-color);
}

.take-order__field:hover .take-order__input::placeholder,
.take-order__field:focus .take-order__input::placeholder {
  color: var(--light-green-color);
}

.browsers-option {
  background-color: transparent;
  width: 100%;
}

.browsers-option:not(:first-child) {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  margin-top: 4px;
}

.take-order__field {
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .take-order__field {
    width: 590px;
  }
}

.take-order__textarea {
  width: 100%;
  height: 97px;
  color: var(--white-color-text);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid var(--light-green-color);
}
@media screen and (min-width: 1280px) {
  .take-order__textarea {
    width: 589px;
    height: 256px;
  }
}

.btn-first {
  margin-bottom: 16px;
  width: 173px;
}
@media screen and (min-width: 768px) {
  .btn-first {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-first {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.take-order__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .take-order__btn {
    flex-direction: row;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */