.container {
  margin: 0 auto;
  padding-right: 18px;
  padding-left: 17px;
  min-width: 320px;
  max-width: $mobile;


  @include tablet {
    width: $tablet;
    padding-right: 40px;
    padding-left: 40px;
  }

  @include desktop {
    width: $desktop;
  }
}
